.page-background {
  width: 100vw; 
  height: 100vh;
  background-image: url('../assets/asterhospital.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */ 
}

.page-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(100%) brightness(0.9);
  z-index: -1;
}

.login{
  margin-left:110px;
}

.loginform{
  margin-left:115px;
  border:1px solid black;
}

.blur {
  filter: blur(0px);
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  inset:0;
  backdrop-filter: blur(6px);
}

.card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  position: relative;
  filter: blur(0) brightness(1);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

.form{
  border:1px solid black;
  
}
