<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
    <table class="table table-secondary" style="width:100px;">
        <tr>
            <td><label for="">Name</label></td>
            <td><input type="text" name="name" id="name" value="{{name}}" readonly></td>
        </tr>

        <tr>
            <td><label for="">Email</label></td>
            <td><input type="email" name="email" id="email" value="{{email}}" readonly></td>
        </tr>

        <tr>
            <td><label for="">Mobile</label></td>
            <td><input type="text" name="mob" id="mob" value="{{mobile}}" readonly></td>
        </tr>

        <tr>
            <td><label for="">Gender</label></td>
            <td><input type="radio" name="gender" id="male" value="Male">
                <label for="male">Male</label>

            <td><input type="radio" name="gender" id="female" value="Female">
                <label for="female">Female</label></td>
        </tr>

        <tr>
            <td><label for="">district</label></td>
            <td><select name="district" id="">
                <option value="Ekm">Ekm</option>
                <option value="Tri">Tri</option>
            </select></td>
        </tr>
        
        <tr>
            <td><label for="">Book date</label></td>
            <td><input type="date" name="date" id=""></td>
        </tr>

        <tr>
            <td><label for="">Test</label></td>
            <td><input type="checkbox" name="test" id="" value="scan">
                <label>Scan</label>

            <td><input type="checkbox" name="test" id="" value="xray">
                <label>Xray</label></td>
        </tr>

        <tr>
            <td><label for="">Doctor</label></td>

            <td><select name="doctorname">
            {% for i in data %}
            <option value="{{i.doctor_name}}">{{i.doctor_name}}</option>
            {% endfor %}    
            </select></td>
        </tr>

        </table>
        <button type="submit" class="btn btn-primary">Book Appointment</button>
    </form>   
    {{msg}}
    <a href="{% url 'custpage' %}">Go to Home page</a>
</body>
</html>