<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>dept_name</th>
            <th>descrip</th>
        </tr>
        {% for i in data %}
            <tr>
                <td>{{i.dept_name}}</td>
                <td>{{i.descrip}}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'index' %}">Go back to home</a>
</body>
</html>