<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image:url('{% static "images/Living room.jpg" %}') ;
            background-repeat: no-repeat;
            background-size: cover;
        }   
        /* h1{
            color: rgb(255, 255, 255);
        }
        a{
            color:white;
            font-size:x-large;
        } */
    </style>
</head>
<body>
 
    <h1>HOSPITAL MANAGEMENT SYSTEM</h1>
  
    <a href="{% url 'deptview' %}">Department List</a>
    <a href="{% url 'doctview' %}">Doctor Details</a>
    <a href="{% url 'login' %}">Login</a>
</body>
</html>